/* --------------------- Search Engine Button and Input --------------------- */
.SearchEngine-Form {
  width: 50%;
  margin: 2rem auto 1rem;
  display: flex;
  flex-direction: row;
}

.btn, .btn:hover, .btn:active, .btn:focus, .btn:visited {
  flex: 0.2;
  width: 100%;
  background: #FF4820;
  border: 2px solid #FF4820;
  padding: 0 1rem;
  color: var(--color-footer);
  cursor: pointer;
  outline: none;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;

/* Remove blue outline from input */
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content_input:valid {
  flex: 2;
  width: 100%;
  min-height: 55px;
  background: var(--color-footer);
  border: 2px solid  var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

/* Remove blue outline from input */
.form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* --------------------- Game Results --------------------- */
.game-div {
  margin: auto;
  display: inline-block;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
}

.form-control {
  height: 50px;
}

.card {
  border: none;
}

.image-div {
  background: none;
  margin: auto;
  display: inline-block;
  padding: 10px;
}

.consoles-div {
  display: flex;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

