/* --------------------- Search Engine Button and Input --------------------- */
.SearchEngine-Form {
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.btn, .btn:hover, .btn:active, .btn:focus, .btn:visited {
  flex: .2;
  width: 100%;
  background: #FF4820;
  border: 2px solid #FF4820;
  padding: 0 1rem;
  color: var(--color-footer);
  cursor: pointer;
  outline: none;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;

/* Remove blue outline from input */
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content_input:valid {
  flex: 3;
  width: 100%;
  min-height: 50px;
  background: var(--color-footer);
  border: 2px solid  var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

/* Remove blue outline from input */
.form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* --------------------- Game Results --------------------- */
.game-div {
  margin: auto;
  display: inline-block;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
}

.card {
  border: none;
}

.image-div {
    max-width: 600px;
    min-height: 190px;
    border-radius: 20px;
    background: var(--gradient-results);
    box-shadow: rgb(73 39 171 / 30%) 0px 20px 40px;
    display: grid;
    -webkit-box-pack: center;
    place-content: center;
}

.consoles-div {
  display: flex;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.engine-main{
  display: flex;
  flex-direction: row;
}

.engine-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.engine-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.engine-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.engine-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  flex-direction: row;
}

.engine-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

/* --------------------- Results Card --------------------- */
.results-container {
  margin-bottom: 20px;
}

.card-results {
  position: relative;
  min-width: 100%;
  width: 100%;
  padding: 20px;
  backdrop-filter: blur(40px) saturate(120%) brightness(120%);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: rgb(0 0 0 / 10%) 0px 0;
}

.search-results {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.all-consoles-div {
  text-align: center;
}

.console-button {
  text-align: center;
  border-radius: 20px;
  padding: 6px 12px 5px;
  margin: 4px;
  font-size: 13px;
  background: var(--gradient-console-results);
  color: #fff;
  display: inline-block;
}

.results-title-div {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  margin: 0px 0px 10px;
}
/* --------------------- Flex --------------------- */
@media screen and (max-width: 1050px) {
  .engine-main{
      flex-direction: column;
  }

  .engine-content {
      margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .engine-content h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .engine-content p {
      font-size: 16px;
      line-height: 24px;
  }
  
  .engine-content__people {
      flex-direction: column;
  }

  .engine-content__people p {
      margin: 0;
  }

  .engine-content__input input,
  .engine-content__input button {
      font-size: 16px;
      line-height: 24px;
  }
}



@media screen and (max-width: 490px) {
  .engine-content h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .engine-content p {
      font-size: 14px;
      line-height: 24px;
  }

  .engine-content__input input,
  .engine-content__input button {
      font-size: 12px;
      line-height: 16px;
  }
}