body {
  background-color: #FF4656;
  background:
        url("background.jpg")
        top center /* position / size */
        no-repeat                /* repeat */
        fixed                    /* attachment */
        padding-box              /* origin */
        content-box              /* clip */
        rgb(0 0 0 / 100%)
  }

.game-div {
  margin: auto;
  display: inline-block;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
}

.form-control  {
  height: 50px;
}

.btn-secondary {
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
}

.image-div {
  margin: auto;
  display: inline-block;
  padding: 10px;
}

.consoles-div {
  display: flex;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

