
/* --------------------- Contact Form --------------------- */

.button-contact, .button-contact:hover, 
.button-contact:active, .button-contact:focus, 
.button-contact:visited {
  flex: .2;
  height: 70px;
  background: #453275;
  border: 2px solid #453275;
  padding: 0 1rem;
  color: #adc9d1;
  cursor: pointer;
  outline: none;
  padding: 20px;
  margin: 20px;
  width: 120px;
  border-radius: 1px;
}

.contact-form .form-control  {
  width: 100%;
  padding: 10px 0;
  border: .2px dotted #c3c3c3;
  color: #ddd;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}

.form-control__plaintext {
  padding-top: 2em;
}

.contact-form input {
  text-align: center;
}

.text-description input {
  height: 150px;
}

.contact-form label {
display: none;}

.contact-form__submit-button {
  text-align: center;
}

.contactus-icon-div {
  text-align: center;
}