@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;

  --gradient-text: linear-gradient(90deg, #933EAA 0%, #D35ED1 60%);
  --gradient-bar:   linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  --gradient-results: linear-gradient(90deg, #453275 0%, #E6DBE8 100%);
  --gradient-console-results: linear-gradient(90deg, #311C31 0%, #933EAA 100%);
  --gradient-search-bar: linear-gradient(90deg, #693CB6 0%, #D35ED1 100%);

  --color-bg: #08090a;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-text);
}


/* --------------------- Links --------------------- */
a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #FFF;
  margin-right: 18px;
  margin-left: 18px;
  text-decoration: none;
}

a:active, a:visited, a:link  {
  color: #FFF;
  text-decoration: none;
}

/* --------------------- Page Titles --------------------- */

.center-title {
  text-align: center;
  margin-bottom: .25em; 
  letter-spacing: 0.1em;
}

/* --------------------- Navbar --------------------- */

.navbar-dark .navbar-brand {
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  letter-spacing: 0.2em;
}

.center-container {
  margin: auto;
  padding: 10px;
}


.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.main-div {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  background-color:none
  /* background-color:# */
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
